services:
  backend:
    image: ${ECR_BACKEND_IMAGE}
    container_name: community-backend
    restart: unless-stopped
    environment:
      SPRING_CONFIG_IMPORT: file:/app/application-secret.yml
    volumes:
      - backend_logs:/app/logs
      - ${SECRETS_PATH}:/app/application-secret.yml:ro
    networks:
      - community-network

networks:
  community-network:
    name: community-network
    external: true

volumes:
  backend_logs:
